apiVersion: v1
kind: Namespace
metadata:
  name: fleet-dev
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-app-deployment
  namespace: fleet-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fleet-api
  template:
    metadata:
      labels:
        app: fleet-api
    spec:
      containers:
      - name: fleet-api-container
        image: elvispro1993/fleet-app:latest
        ports:
        - containerPort: 8000
        env:
          # Pass the secret name to the application so it knows what to fetch
          - name: DB_CREDENTIALS_SECRET_NAME
            value: "fleet-dev-db-credentials"
          - name: AWS_REGION
            value: "us-east-1"
---
apiVersion: v1
kind: Service
metadata:
  name: fleet-app-service
  namespace: fleet-dev
spec:
  selector:
    app: fleet-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP