# fleet-gitops/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-app-deployment
  namespace: fleet-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fleet-api
  template:
    metadata:
      labels:
        app: fleet-api
        # --- ADD THIS REQUIRED LABEL ---
        secrets-store.csi.k8s.io/used: "true"
    spec:
      # The rest of the file remains the same
      containers:
      - name: fleet-api-container
        image: elvispro1993/fleet-app:latest
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: fleet-db-secret