# fleet-gitops/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-app-deployment
  namespace: fleet-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fleet-api
  template:
    metadata:
      labels:
        app: fleet-api
    spec:
      containers:
      - name: fleet-api-container
        image: elvispro1993/fleet-app:latest
        ports:
        - containerPort: 8000
        # This is the correct, simple way to mount the entire secret as env vars
        envFrom:
        - secretRef:
            name: fleet-db-secret # Mount the K8s secret created by the CSI driver